*{
    padding: 0;
    Margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body{
    background-color: #0f0f0f;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    text-align: center;
    margin-bottom: 70px;
}

#Logo{
    margin-right: 15vw;
    color: #5b78f6;
    font-family: 'Kalam', cursive;
    font-size: 30px;
    font-weight: 600;
}

.mid_nav{
    font-size: 16px;
    color: #828282;
    transition: 200ms;
}#active{
    color: white;
}
.mid_nav:hover{
    color: white;
    transition: 200ms;
}
header button{
    margin-left: 15vw;
    padding: 10px 30px 10px 30px;
    border-radius: 9px;
    background-color: #323232;
    color: white;
    font-size: 16px;
    border: none;
    font-weight: 500;
    transition: 350ms;
}

header button:hover{
    background-color: white;
    color: #323232;
    transition: 350ms;
    cursor: pointer;
}

#bodyy{ 
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    justify-content: space-between;
    margin-bottom: 4vh;
}









#left_container{
    width: 33%;
    height: 280vh;
}

#container{
    position: sticky;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom right, #202020, #111111);
    height: 100vh;
    width: 100%;
    border-radius: 30px;
}

#container img{
    width: 80%;
    background-image: linear-gradient(to right, #5b78f6, white, #5b78f6);
    border-radius: 30px;
    margin-top: 7%;
}

#container h1{
    margin: 5% 5% 0 5%;
    color: white;
    text-align: center;
    font-weight: 500;
    
}
#container p{
    margin-top: 3%;
    color: #828282;
    
}






#container div{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    border: white;
    width: 70%;
    margin: 5% 5% 0 5%;

}

#linkedin{
    background-image: url(../Images/Linkedin\ White.png);  
    background-size: contain;
    background-repeat: no-repeat;
    width: 15%;
    transition: 200ms;
    aspect-ratio: 1 / 1;
}
#github{
    background-image: url(../Images/GitHub\ White.png);  
    background-size: contain;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    
    width: 15%;
    transition: 200ms;
}
#insta{
    background-image: url(../Images/Instagram\ White.png);  
    background-size: contain;
    aspect-ratio: 1/1;
    width: 15%;  
    background-repeat: no-repeat;
    transition: 200ms;
}
#facebook{
    background-image: url(../Images/Facebook\ White.png);  
    background-size: contain;
    aspect-ratio: 1/1;
    width: 15%;  
    background-repeat: no-repeat;
    transition: 200ms;
}

#linkedin:hover{
    background-image: url(../Images/Linkedin\ Black.png);  
    cursor: pointer;
    transition: 200ms;
}

#github:hover{
    background-image: url(../Images/GitHub\ Black.png);  
    cursor: pointer;
    transition: 200ms;
}

#insta:hover{
    background-image: url(../Images/Instagram\ Black.png);  
    cursor: pointer;
    transition: 200ms;
}
#facebook:hover{
    background-image: url(../Images/Facebook\ Black.png);  
    cursor: pointer;
    transition: 200ms;
}



#container a{
    width: 90%;
    height: 7%;
    margin-top: 5%;
}

#container a button{
    color: white;
    font-size: 15px;
    border: none;
    background-color: #404040;
    width: 100%;
    border-radius: 20px;
    height: 100%;
    transition: 200ms;
}
#container a button:hover{
    color: black;
    background-color: white;
    transition: 200ms;
    cursor: pointer;
}















#right_container{
    width: 60%;
    height: 280vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#right_container h1{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 6%;

}

#right_container p{
    color: #c2c2c2;
    font-size: 16px;

}

#right_container h4{
    color: #505050;
    font-weight: 500;
    margin-bottom: 1%;
}
#right_container h2{
    color: #5b78f6;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 1%;

}
#right_container h5{
    color: #505050;
    margin-bottom: 2%;
}

#skills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
#skills div{
    width: 46%;
    margin-top: 5%;
}

#skills h2{
    color: white;
    font-size: medium;
    margin: 2% 0 2% 0;
    font-size: 20px;
}

#skills h4{
    font-size: 14px;
}





























footer div{
    margin-top: 25vh;
    color: #5b78f6;
    text-align: center;
    font-size: 35px;
    font-family: 'Kalam', cursive;
    font-weight: 600;
}
footer section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6vh 35vw 6vh 35vw;
}

#copyright{
    color: #828282;
    text-align: center;
    font-size: 15px;
    margin: 0 0 15vh 0;
    font-weight: normal;
}

#copyright span{
    color: #5b78f6;
}
